* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: "Sora", sans-serif;
    scrollbar-color: #8750f7 #2a1454;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

body a {
    text-decoration: none;
}


/*-------------------header start----------------------*/

.container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
    background: linear-gradient(90deg, rgba(15, 7, 21, 1) 16%, rgba(16, 8, 24, 1) 51%, rgba(39, 22, 67, 1) 82%);
}

.head-left img {
    width: 60px;
    border-radius: 10px;
}

.head-left {
    display: flex;
    align-items: center;
    width: 30%;
    float: left;
    gap: 30px;
}

.head-right {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.head-right ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

a.pmail {
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}

a.pmail:hover {
    color: #8750f7;
}

.head-right ul li {
    display: block;
}

.head-right ul li a {
    color: #fff;
    position: relative;
}

.head-right ul li a::after {
    position: absolute;
    content: "";
    border-radius: 4px;
    background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.head-right ul li:hover a::after {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}

a.btn {
    padding: 12px 35px;
    background-image: linear-gradient(to right, #8750f7 0%, #2a1454 51%, #8750f7 100%);
    color: #fff;
    border-radius: 30px;
    background-size: 200% auto;
    transition: 0.5s;
}

a.btn:hover {
    background-position: -100%;
}

/*-----toggle button css*-----*/
.toggle {
    position: relative;
    width: 70px;
    height: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
}

.toggle span {
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    right: 15px;
}

.toggle span:nth-child(2) {
    transform: translateY(-10px);
    width: 25px;
    right: 15px;
}

.toggle span:nth-child(3) {
    transform: translateY(10px);
    width: 25px;
    right: 15px;
}

.toggle.active span:nth-child(1) {
    transform: translateX(60px);
}

.toggle.active span:nth-child(2) {
    width: 35px;
    transform: translateX(0) rotate(45deg);
    transition-delay: 0.2s;
}

.toggle.active span:nth-child(3) {
    width: 35px;
    transform: translateX(0) rotate(-45deg);
    transition-delay: 0.4s;
}

/******sidebar******/
.sidebar {
    position: fixed;
    top: 86px;
    width: 100vw;
    background: #fff;
    z-index: 999;
    left: 0;
    height: 100vh;
    padding: 1.5rem;
    left: -600px;
    transition: transform 0.5s ease-in-out;
    display: none;
}

.sidebar.active {
    transform: translateX(600px);
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sidebar a {
    color: #1B0F2C;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.no-scroll {
    overflow: hidden;
    /* Disable scrolling */
}

.sidebar .social-icon {
    width: 100%;
    justify-content: space-between;
}

.sidebar .info-child {
    position: absolute;
    bottom: 22.5%;
}

.sidebar .numbers a {
    color: #1B0F2C;
    font-size: 14px;
}

/*-----------------header end---------------------*/

/*----------------first conatiner start*----------------*/
.intro {
    padding: 2rem 2rem;
    background: linear-gradient(90deg, rgba(15, 7, 21, 1) 16%, rgba(16, 8, 24, 1) 51%, rgba(39, 22, 67, 1) 82%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-box {
    width: 50%;
}

.content-box h3 {
    color: #DDDDDD;
    font-size: 32px;
}

.grad-txt {
    background-image: linear-gradient(to right, #8750f7 33%, #ffffff 84%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-box h1 {
    font-size: 65px;
    margin: 0.5rem 0;
}

.content-box p {
    color: #DDDDDD;
    font-size: 20px;
}

.main-img img {
    max-width: 450px;
    border-radius: 30px;
    border: 3px solid #2a1454;
    transform: rotate(4deg);
    transition: 0.5s ease;
    width: 420px;
}

.img-box {
    width: 50%;
    display: flex;
    justify-content: center;
}

.main-img img:hover {
    transform: rotate(0deg);
    border: 3px solid #8750f7;
}

.icons-main {
    padding-top: 3rem;
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.icons-main a {
    color: #8750f7;
    padding: 10px 30px;
    border: 1px solid #8750f7;
    border-radius: 25px;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.icons-main a:hover {
    color: #fff;
    background: #8750F7;
    border-color: #8750F7;
}

.icon-packs a {
    padding: 7.5px 12px;
    font-size: 22px;
}

.icon-packs {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

/*----------------first conatiner end*----------------*/

/*----------------counter section start*----------------*/

.counter {
    padding: 4rem 2rem;
    background: linear-gradient(90deg, rgba(15, 7, 21, 1) 16%, rgba(16, 8, 24, 1) 51%, rgba(39, 22, 67, 1) 82%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.count-box h2 {
    color: #fff;
    font-size: 65px;
}

.count-box {
    align-items: center;
    display: flex;
    column-gap: 20px;
}

.count-box p {
    color: #fff;
    font-size: 18px;
}

/*----------------counter section end*----------------*/

/*----------------services section starts*----------------*/

.services-main {
    background: #050709;
    text-align: center;
    padding: 4rem 2rem;
}


.services-main p {
    color: #dddddd;
    font-size: 16px;
    padding: 1rem 0;
    width: 58%;
    margin: 0 auto 2rem;
    line-height: 1.5;
}

h2.grad-txt {
    font-size: 45px;
}

.service-dis {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease;
    width: 95%;
    margin: 20px auto;
    border: 1px solid #8b56f7;
    border-radius: 10px;
}

.service-dis.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #8750f7 0%, #2a1454 51%, #8750f7 100%);
    z-index: -1;
    transition: top 0.8s ease, bottom 0.8s ease;
}

.service-dis.up::before {
    top: -100%;
    bottom: 100%;
}

.service-dis.down::before {
    top: 100%;
    bottom: -100%;
}

.service-dis.active {
    background-image: linear-gradient(to right, #8750f7 15%, #2a1454 90%);
    animation: fadeInUp 0.8s ease both;
}


.number {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.service-dis h3 {
    color: #fff;
    font-size: 30px;
}

.service-dis p {
    text-align: left;
    margin: 0;
    width: 58%;

}

.num-left {
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 20px;
}

/*----------------services section ends*----------------*/

/*--------------experience section starts*--------------*/
.experience {
    background: linear-gradient(90deg, rgba(15, 7, 21, 1) 16%, rgba(16, 8, 24, 1) 51%, rgba(39, 22, 67, 1) 82%);
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
}

.my-experience {
    width: 48%;
}

.my-education {
    width: 48%;
    overflow: hidden;
}

.ex-head {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 2rem;
}

.ex-head i {
    font-size: 45px;
    color: #BB9BFB;
}

.ex-box {
    background: #341e4a;
    padding: 1.25rem 2rem;
    border-radius: 20px;
    width: 80%;
    line-height: 1.8;
    transition: 0.5s ease-in-out;
    background-color: #341e4a;
    /* Solid background color */
    position: relative;
    /* Important for pseudo-element positioning */
    cursor: pointer;
    overflow: hidden;
    /* To hide the gradient overflow */
    transition: background-color 0.4s ease;
    /* Smooth color transition */
    margin: 2rem 0;
}

/* Pseudo-element for the gradient */
.ex-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.4s ease;
    /* Smooth opacity transition */
    z-index: 0;
    /* Make sure it's behind the text */
}

.ex-box:hover {
    background-color: #341e4a;
    /* Keep solid color the same */
}

.ex-box:hover::before {
    opacity: 1;
    /* Show the gradient smoothly on hover */
}

/* Ensure text and other content stays above the gradient */
.ex-box p,
.ex-box h6,
.ex-box h5 {
    position: relative;
    z-index: 1;
}

.ex-box h6 {
    color: #8750f7;
    font-size: 22px;
}

.ex-box:hover h6 {
    color: #fff;
    /* Change h6 color to white on hover */
}

.ex-box h5 {
    color: #fff;
    font-size: 28px;
}

.ex-box p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/*--------------experience section ends*--------------*/

/*--------------skills section starts*--------------*/

.skills {
    padding: 4rem 2rem;
    background: #050709;
    text-align: center;
}

.skills p {
    color: #dddddd;
    font-size: 16px;
    padding: 1rem 0;
    width: 58%;
    margin: 0 auto 2rem;
    line-height: 1.5;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.icon {
    padding: 20px 35px;
    background: #140c1c;
    text-align: center;
    border-radius: 25px;
    width: 15%;
    filter: grayscale(0.8);
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

.icon p {
    margin: 15px 0 0 0;
    padding: 0;
    width: auto;
}

.icon img {
    width: 75px;
    transition: 0.3s ease-in-out;
}

.icon:hover {
    background: #2A1454;
    filter: grayscale(0);
}

.icon:hover img {
    scale: 1.2;
}

/*--------------skills section ends*--------------*/

/*--------------contact section starts*--------------*/
.contact {
    background: linear-gradient(90deg, rgba(15, 7, 21, 1) 16%, rgba(16, 8, 24, 1) 51%, rgba(39, 22, 67, 1) 82%);
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-main {
    background: #271643;
    padding: 2rem;
    width: 48%;
    border-radius: 15px;
}

.form-main p {
    color: #dddddd;
    font-size: 16px;
    padding: 1rem 0;
    width: 90%;
    margin: 0 0 2rem;
    line-height: 1.5;
}

.contact input {
    width: 48%;
    margin-bottom: 15px;
    background: #050709;
    border: 1px solid #22272c;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding: 14px 20px;
    border-radius: 8px;
    transition: all 0.3s 0s ease-out;
    outline: none;
}

.int {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact input:focus,
textarea:focus {
    border-color: #8750f7;
}

textarea {
    width: 100%;
    background: #050709;
    border: 1px solid #22272c;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding: 14px 20px;
    border-radius: 8px;
    transition: all 0.3s 0s ease-out;
    outline: none;
    resize: none;
}

form button {
    padding: 12px 35px;
    background-image: linear-gradient(to right, #8750f7 0%, #2a1454 51%, #8750f7 100%);
    color: #fff;
    border-radius: 30px;
    background-size: 200% auto;
    transition: 0.5s;
    border: transparent;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-position: -100%;
}

.info-child {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    margin: 0 auto;
}

.info {
    width: 48%;
    overflow: hidden;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
}

.social i {
    background-image: linear-gradient(161deg, #2a1454 0%, #8750f7 100%);
    padding: 18px;
    border-radius: 30px;
    font-size: 22px;
}

.numbers {
    font-size: 16px;
    line-height: 1.6;
}

.numbers a {
    color: #fff;
    transition: 0.5s ease-in-out;
    font-size: 18px;
    font-weight: 700;
}

.numbers a:hover {
    color: #8750f7;
}

.social-icon i {
    background-image: linear-gradient(161deg, #2a1454 0%, #8750f7 100%);
    padding: 13px 14px;
    border-radius: 30px;
    font-size: 28px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.social-icon {
    display: flex;
    column-gap: 20px;
}

.social-icon i:hover {
    color: #7343D4;
    background: #fff;
}

.social-details h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

/*--------------contact section ends*--------------*/

/*--------------footer section starts*--------------*/
footer {
    background: #000;
    text-align: center;
    padding: 4rem 2rem;
}

footer a img {
    width: 70px;
}

footer .head-right ul {
    margin: 0 auto;
    width: 40%;
}

footer .head-right {
    width: 100%;
    margin: 2rem 0;
}

footer p {
    color: violet;
    font-size: 14px;
}

.error-message {
    color: red;
    font-size: 0.85em;
    display: none;
}

input.error,
textarea.error {
    border: 1px solid red;
}

@media only screen and (max-width: 1200px) {

    .count-box h2 {
        font-size: 54px;
    }

    .service-dis h3 {
        font-size: 22px;
    }

    .badges {
        width: 95%;
    }

    .icon {
        width: 18%;
    }

    .icons-main .icon-packs {
        width: 45%;
    }
}

@media only screen and (max-width: 1000px) {

    .content-box h3 {
        font-size: 24px;
    }

    .content-box h1 {
        font-size: 45px;
    }

    .content-box p {
        font-size: 16px;
    }

    .img-box {
        width: 40%;
        justify-content: end;
    }

    .main-img img {
        width: 320px;
    }


    .content-box {
        width: 60%;
    }

    .counter {
        justify-content: space-between;
    }

    .count-box h2 {
        font-size: 45px;
    }

    .num-left {
        column-gap: 10px;
    }

    .service-dis h3 {
        font-size: 20px;
    }

    .ex-head i,
    h2.grad-txt {
        font-size: 38px;
    }


    .ex-box {
        width: 90%;
    }
}

@media only screen and (max-width: 850px) {
    .content-box {
        width: 50%;
    }

    .main-img img {
        width: 100%;
    }

    .icons-main {
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
    }

    .icons-main .icon-packs {
        width: 70%;
        justify-content: space-between;
    }

    .counter {
        padding: 4rem 1rem;
    }

    .count-box {
        column-gap: 10px;
    }

    .count-box h2 {
        font-size: 36px;
    }

    .count-box p {
        font-size: 15px;
    }

    h2.grad-txt {
        font-size: 34px;
    }

    .services-main p.quality-para {
        width: 70%;
    }

    .service-dis p {
        width: 55%;
    }

    .service-dis {
        padding: 10px;
    }

    .num-left {}

    .number {
        font-size: 20px;
    }

    .ex-box h6 {
        font-size: 18px;
    }

    .ex-box h5 {
        font-size: 24px;
    }

    .ex-box {
        width: 95%;
    }

    .badges {
        width: 100%;
    }


    .icon {
        padding: 15px 5px;
    }

    .icon p {
        font-size: 14px;
    }

    .icon img {
        width: 60px;
    }

    .form-main p {
        font-size: 14px;
        margin: 0 0 1rem;
    }

    .contact input {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {

    .services-main {
        padding: 4rem 1rem;
    }

    .service-dis {
        width: 100%;
    }

    .experience {
        padding: 4rem 1rem;
    }

    .my-experience {
        width: 50%;
    }

    .my-education {
        width: 50%;
    }

    .content-box h1 {
        font-size: 40px;
    }

    .head-left {
        gap: 10px;
    }

    .head-right {
        width: 50%;
    }
}

@media only screen and (max-width: 680px) {

    .count-box {
        width: 50%;
        flex-direction: column;
        text-align: center;
    }

    .counter {
        row-gap: 20px;
    }

    .ex-head i,
    h2.grad-txt {
        font-size: 30px;
    }

    .ex-box p {
        font-size: 14px;
    }

    .contact {
        flex-direction: column;
        background: linear-gradient(90deg, rgba(15, 7, 21, 1) 16%, rgba(16, 8, 24, 1) 77%, rgba(39, 22, 67, 1) 121%);
    }

    .form-main {
        width: 100%;
    }

    .info {
        width: 100%;
        margin-top: 3rem;
    }

    .info-child {
        margin: 0;
    }

    .container {
        padding: 2rem 0.5rem 1rem 0.5rem;
    }

    .content-box h1 {
        font-size: 36px;
    }
}


@media only screen and (max-width: 479px) {

    /*--------------header section starts*--------------*/

    .head-left {
        width: 100%;
        justify-content: space-between;
    }

    .head-right {
        display: none;
    }

    .container {
        padding: 1rem;
    }

    a.pmail {
        display: none
    }

    .toggle {
        display: flex;
    }

    .sidebar {
        display: block;
    }

    .head-left img {
        width: 50px;
    }

    /*--------------header section ends*--------------*/

    /*--------------intro section starts*--------------*/
    .intro {
        flex-direction: column;
        padding: 2rem 1rem;
        position: relative;
    }

    .content-box {
        width: 100%;
    }

    .content-box h3 {
        font-size: 24px;
    }

    .content-box h1 {
        font-size: 32px;
    }

    .content-box p {
        font-size: 18px;
    }

    .icons-main {
        padding-top: 1.5rem;
        flex-direction: column;
        row-gap: 20px;
        align-items: baseline;
    }

    .icon-packs {
        width: 70%;
        justify-content: space-between;
    }


    .maintxt {
        margin-bottom: 27rem;
    }

    .main-img img {
        width: 300px;
    }

    .img-box {
        position: absolute;
        width: 100%;
        top: 10rem;
        justify-content: center;
    }

    /*--------------intro section ends*--------------*/

    /*--------------counter section sarts*--------------*/

    .counter {
        padding: 2rem 1rem;
        justify-content: space-between;
        row-gap: 20px;
    }

    .count-box h2 {
        font-size: 30px;
    }

    .count-box p {
        font-size: 16px;
    }

    .count-box {
        column-gap: 10px;
        flex-direction: column;
        width: 50%;
    }

    /*--------------counter section ends*--------------*/


    /*--------------services section sarts*--------------*/
    h2.grad-txt {
        font-size: 30px;
        text-align: center;
    }

    .services-main p {
        width: 100%;
        font-size: 14px;
    }

    .services-main {
        padding: 2rem 1rem;
    }

    .service-dis.active::before {
        background-image: linear-gradient(to right, #8750f7 15%, #2a1454 90%);
    }

    .service-dis {
        flex-direction: column;
        padding: 20px 15px;
        width: 100%;
        align-items: start;
    }

    .number {
        font-size: 22px;
    }

    .service-dis h3 {
        font-size: 24px;
    }

    .num-left {
        column-gap: 10px;
    }

    /*--------------services section ends*--------------*/

    /*--------------experience section starts*--------------*/

    .experience {
        padding: 2rem 1rem;
        flex-direction: column;
    }

    .my-experience {
        width: 100%;
    }

    .ex-head {
        justify-content: center;
    }

    .ex-head i {
        font-size: 30px;
    }

    .ex-box {
        width: 100%;
    }

    .my-education {
        width: 100%;
        overflow-x: hidden;
    }

    /*--------------experience section ends*--------------*/

    /*--------------skills section starts*--------------*/

    .skills {
        padding: 2rem 1rem;
    }

    .skills p {
        width: 100%;
    }

    .badges {
        width: 100%;
        justify-content: space-around;
    }

    .badges {}

    .icon {
        width: 45%;
        margin-bottom: 20px;
    }

    /*--------------skills section ends*--------------*/

    /*--------------contact section starts*--------------*/

    .contact {
        padding: 2rem 1rem;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(15, 7, 21, 1) 16%, rgba(16, 8, 24, 1) 77%, rgba(39, 22, 67, 1) 121%);
        align-items: start;
    }

    .form-main {
        width: 100%;
    }

    .form-main p {
        width: 100%;
        text-align: center;
        margin: 0 0 1rem;
    }

    .contact input {
        width: 100%;
        font-size: 14px;
    }

    .info {
        width: 100%;
        margin-top: 3rem;
        overflow-x: hidden;
    }

    .info-child {
        margin: 0;
    }

    /*--------------contact section ends*--------------*/

    /*--------------footer section starts*--------------*/

    footer {
        padding: 2rem 1rem;
    }

    footer .head-right {
        display: flex;
    }

    footer .head-right ul {
        width: 100%;
        justify-content: space-between;
    }

    footer a img {
        width: 60px;
    }
}

@media only screen and (max-width: 399px) {
    .content-box h1 {
        font-size: 30px;
    }

    /*--------------experience section starts*--------------*/
    h2.grad-txt {
        font-size: 26px;
    }

    .number {
        font-size: 20px;
    }

    .service-dis h3 {
        font-size: 20px;
    }

    .ex-box h6 {
        font-size: 18px;
    }

    .ex-box h5 {
        font-size: 20px;
    }

    .ex-box p {
        font-size: 14px;
    }

    /*--------------experience section ends*--------------*/

    /*--------------contact section starts*--------------*/

    .social i {
        font-size: 18px;
    }

    .numbers a {
        font-size: 16px;
    }

    .social-icon i {
        font-size: 25px;
    }

    /*--------------contact section ends*--------------*/
}

@media only screen and (max-width: 367px) {
    h2.grad-txt {
        font-size: 24px;
    }
}
